/* Global */

body {
  font: 14px sans-serif;
  padding: 0;
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid lightgrey;
  clear: both;
}

h2 { margin-top: 1.5em }

div.header,
div.footer {
  max-width: 1100px;
  margin: auto auto;
  padding: 0 30px;
}

div.header {
  font-size: 1.5em;
  padding-top: 10px;
}

div.header a.title {
  text-decoration: none;
}

div.footer {
  padding-bottom: 10px;
  text-align: center;
}

ul.inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.inline-list > li { display: inline }

ul.posts {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

ul.posts > li > span { font-family: monospace }

/* Posts */

pre { margin: 0 }

p { line-height: 1.6em }

#content_infos,
.meta_infos {
  max-width: 1100px;
  color: grey;
  font-size: 0.9em;
  font-style: italic;
}

#content_infos {
  float: right;
  text-align: right;
}

#content {
  max-width: 1100px;
  color: #333;
  margin: auto auto;
  padding: 0 30px;
}

#content > .highlight,
#content > pre,
cite {
  max-width: 1150px;
  background: #f5f4f2;
  border-left: 1px solid gray;
  overflow: auto;
  margin: 20px auto 20px 0;
  padding: 10px;
}

cite {
  display: block;
  border-left: 2px solid grey;
  color: inherit;
  margin-left: 10px;
}

p > code,
li > code {
  background: #ebe9e6;
  padding-left: 4px;
  padding-right: 4px;
  font-family: monospace
}

#content > .highlight,
#content > pre
{ font-family: monospace }

/* Comments */

#comments {
  margin-top: 40px;
  padding-top: 20px;
}

#comments > a.comments {
  font-size: 2em;
  font-weight: 700;
}

#comments > div.comment {
  border: 1px dotted grey;
  padding-left: 10px;
  margin-bottom: 2px;
}


