/* Global */

body {
  font: 14px sans-serif;
  padding: 0;
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid lightgrey;
  clear: both;
}

div.header,
div.footer {
  max-width: 1100px;
  margin: auto auto;
}

div.header {
  text-align: right;
  font-size: 1.5em
}

div.header a.title {
  float: left;
  text-decoration: none;
}

ul.inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.inline-list > li {
  display: inline
}

ul.posts {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

ul.posts > li > span {
  font-family: monospace;
}

/* Posts */

pre { margin: 0 }

#content_infos,
.meta_infos {
  max-width: 1100px;
  color: grey;
  font-size: 0.9em;
  font-style: italic;
}

#content_infos {
  float: right;
  text-align: right;
}

#content {
  max-width: 1100px;
  color: #333;
  margin: auto auto;
  padding: 0 20px;
}

#content > .highlight,
#content > pre,
cite {
  max-width: 1150px;
  background: #222;
  color: #f8f8f2;
  border-left: 2px solid black;
  overflow: auto;
  margin: 20px auto 20px 0;
  padding: 10px;
}

cite {
  display: block;
  background: lightgrey;
  border-left: 2px solid grey;
  color: inherit;
  margin-left: 10px;
}

p > code,
li > code {
  background: lightgrey;
  border: 1px solid grey;
  padding-left: 4px;
  padding-right: 4px;
}

/* Comments */

#comments {
  margin-top: 40px;
  padding-top: 20px;
}

#comments > a.comments {
  font-size: 2em;
  font-weight: 700;
}

#comments > div.comment {
  border: 1px dotted grey;
  padding-left: 10px;
  margin-bottom: 2px;
}


