/* Global */

body {
  font: 14px sans-serif;
  padding: 0;
  margin: 0;
}

div.header {
  background: #eee;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

div.footer {
  background: #eee;
  border-top: 1px solid lightgrey;
  padding: 10px;
}

div.header a.title {
  font-size: 26px;
}

div.header a.title:visited,
div.header a.title:hover,
div.header a.title:active,
div.header a.title:link,
.contact a:visited,
.contact a:hover,
.contact a:active,
.contact a:link
{
  color: darkblue;
}

.contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.posts > li > span {
  font-family: monospace
}

/* Posts */

pre { margin: 0 }

h1 { margin-bottom: 0; }


#content_infos,
.meta_infos {
  max-width: 1200px;
  color: grey;
  font-size: 0.8em;
}

#content {
  max-width: 1200px;
  background-color: white;
  color: #333;
  margin: auto auto;
  padding-bottom: 40px;
}

#content > .highlight,
#content > pre,
cite {
  max-width: 1150px;
  background: #222;
  color: #f8f8f2;
  border-left: 2px solid black;
  overflow: auto;
  margin: 20px auto 20px 0;
  padding: 10px;
}

cite {
  display: block;
  background: lightgrey;
  border-left: 2px solid grey;
  color: inherit;
  margin-left: 10px;
}

p > code,
li > code {
  background: lightgrey;
  border: 1px solid grey;
  padding-left: 4px;
  padding-right: 4px;
}

/* Comments */

#comments {
  margin-top: 40px;
  padding-top: 20px;
}

#comments ul {
  list-style: none;
  padding: 0;
}

#comments ul > li {
  border: 1px dotted grey;
  padding-left: 10px;
  margin-bottom: 2px;
}

#comments a.comments {
  font-size: 21px;
  font-weight: 700;
}
