---
layout: default
title: ioguix' README
---

<div id="content">
  <h1>Blog Posts</h1>
  <div id="content_infos">Updated on {{ site.posts.first.date | date_to_rfc822 }}</div>
  <br />
  <ul class="posts">
    {% for post in site.posts %}
      {% assign nb_cmts = 0 %}
      {% for cmt in site.pages %}{% if cmt.title == post.title %}{% assign nb_cmts = nb_cmts | plus: 1 %}{% endif %}{% endfor %}
    <li>
      <span>{{ post.date | date_to_string }}</span>: <a href="{{ post.url }}">{{ post.title }}</a>
      {% if nb_cmts > 0 %}
      <a href="{{ post.url }}#comments" class="meta_infos">{{ nb_cmts }} {% if nb_cmts == 1 %}comment{% else %}comments{% endif %}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  
</div>


