
<div id="comments">
  <hr />
  <a class="comments" name="comments">Comments</a>&nbsp;Leave a comment <a href="mailto:ioguix+blog@gmail.com?subject=Post:%20{{ page.title | uri_escape }}">by email</a> or <a href="#disqus_thread">Disqus</a>
  <p>Note: I only publish your name/pseudo, mail subject and content. I will NOT publish your email address.</p>
{% if nb_cmts > 0 %}
  {% assign cmts = site.pages | sort:'name' %}
  {% for cmt in cmts %}
    {% if cmt.title == page.title %}
      {% assign cmt_id = cmt.path | remove_first: '.textile' | remove_first: '.md' | split: '~' | last %}
      {% assign indent = cmt.path | remove_first: '.textile' | remove_first: '.md' | split: '~' | size | minus: 2 %}
      <div class="comment" style="margin-left: {{ indent | times: 20 }}px">
        <a name="comment-{{ cmt_id }}"><strong>{{ cmt.author }}</strong></a>&nbsp;<a href="mailto:ioguix+reply-{{ cmt_id }}@gmail.com?subject=Post:%20{{ cmt.title | uri_escape }}">reply</a>
        {% if cmt.subject %}
        <br /><strong>{{ cmt.subject }}</strong>
        {% endif %}
        <div class="meta_infos">{{ cmt.date | date_to_rfc822 }}</div>

        {% if cmt.path contains '.textile' %} {{ cmt.content | textilize }}
        {% else %} {{ cmt.content | markdownify }} {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No comments.</p>
  {% endif %}
</div>
