---
layout: default
---
{% assign nb_cmts = page.nbdisqus %}
{% for cmt in site.pages %}{% if cmt.title == page.title %}{% assign nb_cmts = nb_cmts | plus: 1 %}{% endif %}{% endfor %}
<div id="content">
  
  <div id="content_infos">
    {{ page.date | date_to_rfc822 }}
    {% if page.categories.size > 0 %}
    <ul class="inline-list">
    {% for cat in page.categories %}
      <li><a href="http://blog.ioguix.net/{{ cat }}/feed.xml">{{ cat }}</a> <i class="fa fa-rss"></i></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if page.tags.size > 0 %}
    <ul class="inline-list">
    {% for tag in page.tags %}
      <li>
        <a href="/tag/{{ tag }}/">{{ tag }}</a>{% if page.tags.last != tag %}, {% endif %}
      </li>
    {% endfor %}
      <li><i class="fa fa-tags"></i></li>
    </ul>
    {% endif %}
    {% if nb_cmts == 1 %}
      <a href="#comments">1 comment</a>
    {% elsif nb_cmts > 0 %}
      <a href="#comments">{{ nb_cmts }} comments</a>
    {% else %}
      <a href="#comments">comment</a>
    {% endif %} <i class="fa fa-comment"></i>
  </div>

  <h1>{{ page.title }}</h1>

  <br style="clear: both" />

  {{ content }}

  {% include mail_comments.html %}

  {% include disqus.html %}

</div>

